/ProjectIvy/src/ProjectIvy/bin
/ProjectIvy/src/ProjectIvy.BL/bin
/ProjectIvy/src/ProjectIvy.Common/bin
/ProjectIvy/src/ProjectIvy.Extensions/bin
/ProjectIvy/src/ProjectIvy.DL/bin
/ProjectIvy/src/ProjectIvy.Model/bin
/ProjectIvy/src/ProjectIvy.Utilities/bin
/ProjectIvy/src/ProjectIvy/obj
/ProjectIvy/src/ProjectIvy.BL/obj
/ProjectIvy/src/ProjectIvy.Common/obj
/ProjectIvy/src/ProjectIvy.DL/obj
/ProjectIvy/src/ProjectIvy.Extensions/obj
/ProjectIvy/src/ProjectIvy.Model/obj
/ProjectIvy/src/ProjectIvy.Utilities/obj
/ProjectIvy/src/ProjectIvy/project.lock.json
/ProjectIvy/src/ProjectIvy.Tests/bin
/ProjectIvy/src/ProjectIvy.Tests/obj
/ProjectIvy/src/ProjectIvy.Tests/project.lock.json
/ProjectIvy/src/ProjectIvy.BL/project.lock.json
/ProjectIvy/src/ProjectIvy.Common/project.lock.json
/ProjectIvy/src/ProjectIvy.DL/project.lock.json
/ProjectIvy/src/ProjectIvy.Extensions/project.lock.json
/ProjectIvy/src/ProjectIvy.Model/project.lock.json
/ProjectIvy/src/ProjectIvy.Utilities/project.lock.json
.vs
