/AnticevicApi/src/AnticevicApi/bin
/AnticevicApi/src/AnticevicApi.BL/bin
/AnticevicApi/src/AnticevicApi.Common/bin
/AnticevicApi/src/AnticevicApi.Extensions/bin
/AnticevicApi/src/AnticevicApi.DL/bin
/AnticevicApi/src/AnticevicApi.Model/bin
/AnticevicApi/src/AnticevicApi/obj
/AnticevicApi/src/AnticevicApi.BL/obj
/AnticevicApi/src/AnticevicApi.Common/obj
/AnticevicApi/src/AnticevicApi.DL/obj
/AnticevicApi/src/AnticevicApi.Extensions/obj
/AnticevicApi/src/AnticevicApi.Model/obj
