/src/ProjectIvy.Api/logs
/src/bin
/src/ProjectIvy.Api/bin
/src/ProjectIvy.Business/bin
/src/ProjectIvy.Common/bin
/src/ProjectIvy.Extensions/bin
/src/ProjectIvy.Data/bin
/src/ProjectIvy.Model/bin
/src/ProjectIvy.Utilities/bin
/src/obj
/src/ProjectIvy.Business/obj
/src/ProjectIvy.Common/obj
/src/ProjectIvy.Data/obj
/src/ProjectIvy.Extensions/obj
/src/ProjectIvy.Model/obj
/src/ProjectIvy.Utilities/obj
/src/project.lock.json
/src/ProjectIvy.Tests/bin
/src/ProjectIvy.Tests/obj
/src/ProjectIvy.Tests/project.lock.json
/src/ProjectIvy.Business/project.lock.json
/src/ProjectIvy.Common/project.lock.json
/src/ProjectIvy.Data/project.lock.json
/src/ProjectIvy.Extensions/project.lock.json
/src/ProjectIvy.Model/project.lock.json
/src/ProjectIvy.Utilities/project.lock.json
src/ProjectIvy.Api/obj
src/ProjectIvy.Api/bin
.vs
.vscode
/src/ProjectIvy.Api/StyleCop.Cache
/src/ProjectIvy.Business/StyleCop.Cache
/src/ProjectIvy.Common/StyleCop.Cache
/src/ProjectIvy.Data/StyleCop.Cache
/src/ProjectIvy.Extensions/StyleCop.Cache
/src/ProjectIvy.Model/StyleCop.Cache
/src/ProjectIvy.Tests/StyleCop.Cache
/src/ProjectIvy.Utilities/StyleCop.Cache
/StyleCop.Cache
/ProjectIvy.Tests/bin
/ProjectIvy.Tests/obj
**/bin
**/obj
/src/ProjectIvy.Api/launchSettings.json
launchSettings.json
Properties
*.DS_Store
